*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    /* line-height: 30px; */
}
.menu {
    padding: 0 7px;
    width: 360px;
    margin: 20px auto;
    border: 2px solid black;
}

h1 {
    font-weight: 1000;
}

.item p {
    display: inline-block;  
    font-size: 13px; 
}
.item2 h1 {
    display: inline-block;   
}
.second{
    border: 5px solid black;
}
.third{
    border: 3px solid black;
}
.fourth{
    border: 4px solid black;
}
.fifth{
    border: 3px solid black;
}
.label {
    width: 50%;
    text-align: left;
}
.price {
    width: 50%;
    text-align: right;
}
.price2 {
    width: 100%;
    text-align: right;
}
footer {
    padding: 10px;
    font-size: 9px;
}